otp_path: "/usr/local/Cellar/erlang/23.1/lib/erlang/"
deps_dirs:
  - "deps"
  - "deps/amqp_client"
  - "deps/epgsql"
  - "deps/rabbit"
  - "deps/rabbit_common"
  - "deps/rabbitmq_ct_client_helpers"
  - "deps/rabbitmq_ct_helpers"
diagnostics:
  enabled:
    - xref
  disabled:
    - dialyzer
include_dirs:
  - "include"
  - "deps"
  - "deps/amqp_client/include"
  - "deps/epgsql/include"
  - "deps/rabbit/include"
  - "deps/rabbit_common/include"
  - "deps/rabbitmq_ct_client_helpers/include"
  - "deps/rabbitmq_ct_helpers/include"
lenses:
  enabled:
    - ct-run-test
    - server-info
    - show-behaviour-usages
code_reload:
  erlang_ls@s1068
